@import "setup";
@import "variables";
@import "navigation";


html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    color: $black;
    background-color: $white;
}

.wrapper {
    max-width: 1200px;
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: 'Kumar One Outline', cursive;
    font-size: 6.8rem;
    line-height: 6.4rem;
    margin-left: 140px;
    width: 100px;
    text-transform: uppercase;

}

h2, h3, .logo, button {
    font-family: 'Kumar One', cursive;
    text-transform: uppercase;
}

header {
    height: 90vh;
    min-height: 600px;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.main-header {
    margin-bottom: 200px;
    background-image: url(../sanctuary-helpers/assets/header-home.jpg);
}
